.calendar{
	min-width: 300px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #FFFFFF;
	font-size: 14px;
}

.calendar .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10px;
	font-size: 16px;
}

.calendar button{
	width: 50px;
	background: transparent;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.calendar .row {
	display: flex;
	border-top: 1px solid #ccc;
}

.calendar .cell {
	width: 10%;
	flex-grow: 1;
}

.calendar .row-week .cell{
	text-align: center;
	background-color: #eee;
	padding: 5px 0;
	font-size: 13px;
}

.calendar-body .cell{
	height: 50px;
	padding: 5px;
	text-align: center;
}

.calendar .cell span{
	display: inline-block;
	border-radius: 50%;
	cursor: default;
}

.calendar .cell.today span{
	color: orangered;
	background-color: yellow;
}

.calendar .cell.expired span{
	color: #ccc;
}

.calendar-body .cell:not(.expired):hover span{
	color: coral;
	font-size: 16px;
}