.calendar{
	border: 1px solid #ccc;
}

.calendar .title {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.calendar .row {
	display: flex;
	border-top: 1px solid #ccc;
}

.calendar .cell {
	width: 10%;
	flex-grow: 1;
}

.calendar .row-week .cell{
	text-align: center;
}

.calendar-body .cell{
	height: 50px;
	padding: 5px;
	text-align: center;
}

.calendar .cell span{
	display: inline-block;
	border-radius: 50%;
	cursor: default;
}

.calendar .cell.today span{
	color: orangered;
	background-color: yellow;
}

.calendar .cell.expired span{
	color: #ccc;
}
