* {
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	/* 防止点击闪烁 */
	-webkit-tap-highlight-color: transparent;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	/* 修复img默认位置 */
	vertical-align: top;
}

input,
textarea {
	-webkit-user-select: text;
	/* 内阴影 */
	-webkit-appearance: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	/* 禁止选择 */
	-webkit-user-select: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}